<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.carlosabrahammenndezilhuicatzisapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.carlosabrahammenndezilhuicatzisapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.carlosabrahammenndezilhuicatzisapplication.app.modules.cuentadeusuario.ui.CuentaDeUsuarioActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.carlosabrahammenndezilhuicatzisapplication.app.modules.bienvenido.ui.BienvenidoActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.carlosabrahammenndezilhuicatzisapplication.app.modules.iniciarsesion.ui.IniciarSesionActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.carlosabrahammenndezilhuicatzisapplication.app.modules.registrarse.ui.RegistrarseActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.carlosabrahammenndezilhuicatzisapplication.app.modules.menu.ui.MenuActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.carlosabrahammenndezilhuicatzisapplication.app.modules.consultarresultadosss.ui.ConsultarResultadosSsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.carlosabrahammenndezilhuicatzisapplication.app.modules.consultarresultadossi.ui.ConsultarResultadosSiActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.carlosabrahammenndezilhuicatzisapplication.app.modules.calculadoraderiesgo.ui.CalculadoraDeRiesgoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.carlosabrahammenndezilhuicatzisapplication.app.modules.verreportes.ui.VerReportesActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.carlosabrahammenndezilhuicatzisapplication.app.modules.enviar.ui.EnviarActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
